In [1]:
import pandas as pd

# Define the path to the CSV file
csv_file_path = './datos_demograficos_LLM.csv'

# Load the CSV file into a DataFrame
df = pd.read_csv(csv_file_path)

# Display the first few rows of the DataFrame
df.head()

,año,entidad,indicador,subcategoría,unidad de medida,dato_numerico_num
0,2018,Achí,Población total de hombres,Población desagregada por sexo,Hombres,12816
1,2018,Achí,Población total de mujeres,Población desagregada por sexo,Mujeres,11536
2,2018,Ayapel,Población total de hombres,Población desagregada por sexo,Hombres,23900
3,2018,Ayapel,Población total de mujeres,Población desagregada por sexo,Mujeres,23068
4,2018,Caimito,Población total de hombres,Población desagregada por sexo,Hombres,7942

In [5]:
df.columns

Index(['año', 'entidad', 'indicador', 'subcategoría', 'unidad de medida',
       'dato_numerico_num'],
      dtype='object')

In [7]:
df[df['entidad'] == 'Sucre'].head(10)

,año,entidad,indicador,subcategoría,unidad de medida,dato_numerico_num
20,2018,Sucre,Población total de hombres,Población desagregada por sexo,Hombres,15914
21,2018,Sucre,Población total de hombres,Población desagregada por sexo,Hombres,454988
22,2018,Sucre,Población total de mujeres,Población desagregada por sexo,Mujeres,13638
23,2018,Sucre,Población total de mujeres,Población desagregada por sexo,Mujeres,449875
44,2019,Sucre,Población total de hombres,Población desagregada por sexo,Hombres,16269
45,2019,Sucre,Población total de hombres,Población desagregada por sexo,Hombres,466533
46,2019,Sucre,Población total de mujeres,Población desagregada por sexo,Mujeres,13984
47,2019,Sucre,Población total de mujeres,Población desagregada por sexo,Mujeres,462451
68,2020,Sucre,Población total de hombres,Población desagregada por sexo,Hombres,16718
69,2020,Sucre,Población total de hombres,Población desagregada por sexo,Hombres,477583

In [9]:
df.sort_values(by=['año', 'entidad', 'indicador', 'subcategoría', 'unidad de medida', 'dato_numerico_num'], inplace=True)
df.drop_duplicates(subset=['año', 'entidad', 'indicador', 'subcategoría', 'unidad de medida'], keep='first', inplace=True)
df[df['entidad'] == 'Sucre'].head(5)

,año,entidad,indicador,subcategoría,unidad de medida,dato_numerico_num
20,2018,Sucre,Población total de hombres,Población desagregada por sexo,Hombres,15914
22,2018,Sucre,Población total de mujeres,Población desagregada por sexo,Mujeres,13638
44,2019,Sucre,Población total de hombres,Población desagregada por sexo,Hombres,16269
46,2019,Sucre,Población total de mujeres,Población desagregada por sexo,Mujeres,13984
68,2020,Sucre,Población total de hombres,Población desagregada por sexo,Hombres,16718

In [10]:
df.shape

(176, 6)